.fromcont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-left: 20rem;
    margin-top: -37rem;
    background-color: rgb(203, 170, 233);
    padding: 2em;
}

.fromConte{
    width: 70%;
    background-color: burlywood;
    margin: 0 auto;
    padding: 1rem;
}

.forms{
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
    margin: 0 auto;
    margin-top: 0.7rem;
}

.forms label{
    font-weight: 600;
    font-size: 1.3rem;
}

.forms input{
    background-color: black;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;

}

.forms button{
    background-color: chartreuse;
    font-weight: 600;
    padding: 0.5rem;
}

.forms button:hover{
    background-color:blue;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 1rem;
}

.userCont{
    margin-left: 28rem;
    display: flex;
    gap:2rem;
    flex-direction: column;
    width: 40%;
    margin-top: 1rem;
    
}

.userValue{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    gap: 2rem;
    width: 100%;
 
    padding-left: 0.88rem;
}

.userBtn{
    display: flex;
    gap: 1rem;
}
.userBtn button{
    background-color: blue;
    height: 2rem;
    margin-top: 0.8rem;
}